@page "/"
<h1>Welcome to posh.wiki!</h1>
This site is still under re-construction after migrating from Flask to Blazor. Check back regularly!
<hr />
<h2>About me!</h2>
<p>Fluffy software developer, sci-fi &amp; fantasty nerd, and amateur linguist.
  Hosting my own site to escape algorithms, get around character limits,
  and better organise some of the things I want to share with the world.</p>
<hr />
