@page "/"
<PageTitle>Posh</PageTitle>
<h1>Welcome to posh.wiki!</h1>
This site is still under re-construction after migrating from Flask to Blazor. Check back regularly!
<hr />
<h2>About me!</h2>
<p>Fluffy software developer, sci-fi &amp; fantasty nerd, and amateur linguist.</p>
<hr />
<h2>Currently:</h2>
<p>
    <b>Reading:</b>
    <i>The Autobiography of Kathryn Janeway</i>
    , Una McCormick
    <br />
    <b>Watching:</b>
    Star Trek: Enterprise, Star Trek: The Next Generation
</p>
