@page "/blog"
<h1>Blog</h1>
<ul>
    @foreach (var post in Posts)
    {
        <li>
            <a href="@(post.Uri)">
            @post.Title
            </a>
            &nbsp;
            @if (post.Tags.Any())
            {
                <span class="text-secondary">
                @post.JoinedTags
                </span>
            }
        </li>
    }
</ul>
