---
title: You should leave Discord, because they're now selling your sensitive data to ICE-complicit paedophile-backed companies. 
--- 

Welp, Discord is going to shit. Like, for real this time. 

Obligatory disclaimer: Protecting kids is a noble cause. Compromising the privacy of adults and selling private info to murder-endorsing companies backed by paedophiles is not an acceptable loss in the pursuit of this goal when alternatives exist. 

## The News 

On Friday 9th February 2026, Discord announced in a [press release](https://discord.com/press-releases/discord-launches-teen-by-default-settings-globally) that they will be enforcing new rules that will require users to verify their age via face scan or legal ID in order to unblur potentially sensitive content, access age-gated spaces, and more, beginning as early as March 2026. 

These restrictions are already in place in the UK and Australia, where governments are pushing for surveillance and censorship under the guise of child safety. 

Many users have rightly expressed concern over being made to hand over sensitive information to third parties in order to continue using Discord to its full extent. Just last year, 5CA, who Discord uses for age verification in support cases, was breached, compromising over 70,000 individuals' information including names, partial billing information, and "a small number of government ID images". You can read about the incident in [Discord's post-mortem](https://discord.com/press-releases/update-on-security-incident-involving-third-party-customer-service).

In their recent press release, Discord claims that "video selfies" are processed strictly on device, though users have disputed this claim. Discord readily admits that government IDs are submitted to third party vendors and may be retained, which places them at risk of being compromised. 

While their press release doesn't explicitly name the vendors they'll be using, a [support article](https://support.discord.com/hc/en-us/articles/30326565624343-How-to-Complete-Age-Assurance-on-Discord) names Persona, whose majority investor for their last 2 rounds of funding is none other than one Peter Thiel, according to [PCGamer](https://www.pcgamer.com/software/platforms/oh-good-discords-age-verification-rollout-has-ties-to-palantir-co-founder-and-panopticon-architect-peter-thiel/).

Thiel is, among other things, the co-founder of Palantir, a company heavily criticised for their highly invasive data collection policies and more recently for providing most of the surveillance capabilities for ICE, the organisation unapologetically responsible for the disgraceful treatments of immigrants in the USA and the murder of multiple innocent US citizens including [prize-winning poet and mother of 3 Renee Nicole Good](https://www.bbc.co.uk/news/articles/c1jepdjy256o) and [ICU nurse Alex Pretti](https://www.bbc.co.uk/news/articles/c62r4g590wqo). Contrary to this mission of child safety, Thiel also appeared in 2,281 of the Epstein files and regularly met with Epstein himself, [WIRED reports](https://www.wired.com/story/epstein-files-tech-elites-gates-thiel-musk/). 

## A general criticism of Discord 

Discord has been going downhill for years now. From a software perspective, their mobile apps are terribly buggy, and their desktop app has huge memory leak issues. From a business perspective, as if the revenue from their quite reasonable Nitro subscription model wasn't enough, they've introduced thinly veiled advertising in the form of "Quests", which openly referred to as "Ads" when submitting a request for a data dump and can no longer be fully disabled in the UI. The cosmetics store, where users can buy animated decorations for their profiles, is somewhat defensible as a business practice, also feels rather invasive these days. 

It's clear that as Discord attempts to increase its valuation so it can be bought out and become a publicly traded company (as demonstrated when they confidentially filed for IPO according to [Bloomberg](https://www.bloomberg.com/news/articles/2026-01-06/chat-platform-discord-is-said-to-file-confidentially-for-ipo)), they are placing profits well over user experience and satisfaction. 

## So, what now? 

Users who are fed up of Discord's profit-over-UX practices and object to their partnership with paedophile-backed ICE-complicit surveillance companies might consider moving to an alternative platform. 

Personally, I recommend Stoat (formerly Revolt), a free, open-source, federated, and end-to-end encrypted Discord alternative that seems to have the public eye right now. Unlike Discord, Stoat is built and supported by the community, with no corporate financial interest. Unlike Discord, if the main Stoat instance does something you don't like, you can spin up your own server and have it be fully compatible with the rest of the Stoat world. Unlike Discord, Stoat systematically cannot censor what you see, since only you and your friends can see the content of your messages. I've found it easy to set up and use on web, desktop, and Android. Check them out at [stoat.chat](https://stoat.chat/)

Matrix is a similar alternative which is used and endorsed by several governments of EU countries as they move away from the American-company-owned Microsoft Teams. In my experience, it's a little more difficult to set up than Stoat, but built on the same solid principles. You can find them at [matrix.org](https://matrix.org/). 

I do **not** recommend [TeamSpeak](https://www.teamspeak.com/en/). Just like Discord, it is proprietary, unencrypted, and provided by a for-profit company. If Discord's users migrate there, TeamSpeak will just develop all the same problems Discord has. 