@page "/art/comms"
<h1>Commissions</h1>
<p>This page contains art I've had commissioned!</p>
<div class="masonry">
    <div class="masonry-item">
        <img src="img/art/comms/CaffeinatedCultist.jpg" alt="CaffeinatedCultist" />
        By CaffeinatedCultist (
        <a href="https://bsky.app/profile/caffeinatedcultist.bsky.social">bsky</a>
        )
    </div>
</div>
