.masonry {
    column-count: 3;
    column-gap: 1em;
    padding: 1em;
}

.masonry-item {
    break-inside: avoid;
    margin-bottom: 1em;

    background: #fff;
    color: #000; 
    padding: 4px;
}

.masonry-item > a 
{
    color: blue;
    text-decoration: underline;
}

.masonry-item img {
    width: 100%;
    display: block;
}