<h3>Blinkies!</h3>
<div class="blinkies-container px-2">
    <img src="/img/blinkies/adblocker.gif" />
    <img src="/img/blinkies/be_kind_to_your_computer.webp" />
    <img src="/img/blinkies/gaypride2.gif" />
    <img src="/img/blinkies/ihatepopups.gif" />
    <img src="/img/blinkies/i_heart_my_internet_friends.webp" />
    <img src="/img/blinkies/iheartTES.gif" />
    <img src="/img/blinkies/internet-censorship.gif" />
    <img src="/img/blinkies/justkitten.gif" />
    <img src="/img/blinkies/lineofcats.gif" />
    <img src="/img/blinkies/monster-blinkie.gif" />
    <img src="/img/blinkies/nya.gif" />
    <img src="/img/blinkies/rule34.gif" />
    <img src="/img/blinkies/sendmeemails.gif" />
    <img src="/img/blinkies/sleep_whats_that.gif" />
    <img src="/img/blinkies/smashing-pumpkins.gif" />
    <img src="/img/blinkies/translove.gif" />
    <img src="/img/blinkies/wikipedia.gif" />
</div>
