<h3>Buttons!</h3>
<div class="buttons-container">
    <div class="clickable">
        <a href="crouton.net">
            <img src="/img/buttons/crouton.png" />
        </a>
        <a href="archiveofourown.org">
            <img src="/img/buttons/dead-dove-do-not-eat.gif" />
        </a>
        <a href="neocities.org">
            <img src="/img/buttons/deletetwitter-makeaneocities.gif" />
        </a>
        <a href="https://www.qbittorrent.org/">
            <img src="/img/buttons/dont_forget_to_seed.png" />
        </a>
        <a href="https://e926.net/">
            <img src="/img/buttons/e621button.png" />
        </a>
        <a href="https://www.iso.org/iso-8601-date-and-time-format.html">
            <img src="/img/buttons/iso8601.png" />
        </a>
        <a href="https://archive.org">
            <img src="/img/buttons/internetarchive.gif" />
        </a>
        <a href="https://thuum.org">
            <img src="/img/buttons/thuum_org_btn.png" />
        </a>
    </div>
    <hr />
    <img src="/img/buttons/minecraft.gif" />
    <img src="/img/buttons/mastodon.gif" />
    <img src="/img/buttons/latex.gif" />
    <img src="/img/buttons/firefox-takebacktheweb.gif" />
    <img src="/img/buttons/catscape2.gif" />
    <img src="/img/buttons/3.5mm.gif" />
    <img src="/img/buttons/aiistheftnotart.gif" />
    <img src="/img/buttons/antiai.gif" />
    <img src="/img/buttons/antinft.gif" />
    <img src="/img/buttons/dark-mode.gif" />
    <img src="/img/buttons/furryyayowo.png" />
    <img src="/img/buttons/holodeck_3.gif" />
    <img src="/img/buttons/meowmeowmeow.gif" />
    <img src="/img/buttons/nekkoscape.gif" />
    <img src="/img/buttons/neocities.gif" />
    <img src="/img/buttons/paws.png" />
    <img src="/img/buttons/queer-coded.png" />
    <img src="/img/buttons/theorb.gif" />
</div>
