<h3>Buttons!</h3>
<div class="buttons-container">
    <img src="/img/buttons/3.5mm.gif" />
    <img src="/img/buttons/aiistheftnotart.gif" />
    <img src="/img/buttons/antiai.gif" />
    <img src="/img/buttons/antinft.gif" />
    <img src="/img/buttons/catscape2.gif" />
    <img src="/img/buttons/crouton.png" />
    <img src="/img/buttons/dark-mode.gif" />
    <img src="/img/buttons/dead-dove-do-not-eat.gif" />
    <img src="/img/buttons/deletetwitter-makeaneocities.gif" />
    <img src="/img/buttons/dont_forget_to_seed.png" />
    <img src="/img/buttons/e621button.png" />
    <img src="/img/buttons/firefox-takebacktheweb.gif" />
    <img src="/img/buttons/furryyayowo.png" />
    <img src="/img/buttons/holodeck_3.gif" />
    <img src="/img/buttons/internetarchive.gif" />
    <img src="/img/buttons/iso8601.png" />
    <img src="/img/buttons/latex.gif" />
    <img src="/img/buttons/mastodon.gif" />
    <img src="/img/buttons/meowmeowmeow.gif" />
    <img src="/img/buttons/minecraft.gif" />
    <img src="/img/buttons/nekkoscape.gif" />
    <img src="/img/buttons/neocities.gif" />
    <img src="/img/buttons/paws.png" />
    <img src="/img/buttons/queer-coded.png" />
    <img src="/img/buttons/theorb.gif" />
    <img src="/img/buttons/thuum_org_btn.png" />
</div>
