@using Wiki.Posh.Wasm.Components.Icons
<h3>Links!</h3>
<GithubIcon />
<a href="https://github.com/posh-crouton">GitHub</a>
<span text-secondary>(posh-crouton)</span>
<br />
<DiscordIcon />
<a href="https://discordapp.com/users/425328470940188672">Discord</a>
<span text-secondary>(posh_)</span>
<br />
<SteamIcon />
<a href="https://steamcommunity.com/profiles/76561198374490108/">Steam</a>
<span text-secondary>(Posh)</span>
<br />
<BskyIcon />
<a href="https://bsky.app/profile/posh.wiki">BlueSky</a>
<span text-secondary>(posh.wiki)</span>
<br />
<EmailIcon />
<a href="https://status.cafe/users/posh">Email</a>
<span text-secondary>(via status.cafe)</span>
<br />
<FurAffinityIcon />
<a href="https://www.furaffinity.net/user/poshcrouton/">FurAffinity</a>
<span text-secondary>(poshcrouton)</span>
<br />
<span class="text-danger">
    <TwitterIcon />
    <s>
        <a class="text-danger" href="https://twitter.com/poshdotwiki">
            Twitter
        </a>
        <span text-secondary>(poshdotwiki, unused)</span>
    </s>
</span>
