<h3>Links!</h3>
<a href="https://github.com/posh-crouton">GitHub</a>
<span text-secondary>(posh-crouton)</span>
<br />
<a href="https://posh.wiki/#discord-card">Discord</a>
<span text-secondary>(posh_)</span>
<br />
<a href="https://steamcommunity.com/profiles/76561198374490108/">Steam</a>
<span text-secondary>(Posh)</span>
<br />
<a href="https://bsky.app/profile/posh.wiki">BlueSky</a>
<span text-secondary>(posh.wiki)</span>
<br />
<a href="https://status.cafe/users/posh">Email</a>
<span text-secondary>(via status.cafe)</span>
<br />
<a href="https://twitter.com/poshdotwiki">Twitter</a>
<span text-secondary>(poshdotwiki)</span>
<br />
<a href="https://www.furaffinity.net/user/poshcrouton/">FurAffinity</a>
<span text-secondary>(poshcrouton)</span>
