<h3>Webrings!</h3>
<div class="webrings-container">
    <div class="furryring-container" style="text-align: center;">
        <div
            id="furryring"
            class="col-auto"
            style="text-align: center;">
            <script type="text/javascript" src="https://furryring.neocities.org/onionring-variables.js"></script>
            <script type="text/javascript" src="https://furryring.neocities.org/onionring-widget.js"></script>
        </div>
    </div>
    <div id="catfolk-webring">
        <script src="https://snewberry.neocities.org/catfolk/webstring.js"></script>
    </div>
</div>
