@page "/nsfw/art/comms"
<div class="masonry">
    <div class="masonry-item">
        <img src="/img/nsfw/art/comms/rattoratttt-1.png" />
        (Horse version)
        By RattoRatttt on
        <a href="https://twitter.com/RattoRatttt">Twitter</a>
    </div>
    <div class="masonry-item">
        <img src="/img/nsfw/art/comms/rattoratttt-2.png" />
        (Tentacle version)
        By RattoRatttt on
        <a href="https://twitter.com/RattoRatttt">Twitter</a>
    </div>
    <div class="masonry-item">
        <img src="/img/nsfw/art/comms/BassHouseKitty.png" />
        (PNG version)
        By BassHouseKitty on
        <a href="https://twitter.com/BassHouseKitty">Twitter</a>
    </div>
    <div class="masonry-item">
        <img src="/img/nsfw/art/comms/BassHouseKitty.gif" />
        (GIF version)
        By BassHouseKitty on
        <a href="https://twitter.com/BassHouseKitty">Twitter</a>
    </div>
</div>
