@page "/nsfw/flist"
@page "/nsfw/kinks"
<h1>Kinks / "F-List"</h1>
<p>
    This page's title is inspired by
    <a href="https://www.f-list.net/">f-list.net</a>
    , on which I do not have an account. Anyone who values their privacy
    <a href="https://wiki.f-list.net/Law_Enforcement_Guidelines">probably shouldn't either</a>
    . To their merit, the level of detail you can add is truly astounding.
</p>
<hr />
<p>
    <b>Additional Notes:</b>
</p>
<p>
    <b>Gender and sexuality are fake anyways, who needs em?</b>
    Don't worry about what I am. If it's any of your business, you'll figure it out.
</p>
<p>
    <b>This isn't a full list by any means.</b>
    There might be some stuff I like that I haven't thought of or discovered yet,
    and there is probably quite a bit that I don't that isn't on here as well.
</p>
<p>
    <b>I do not do role-play.</b>
    At all, no question about it. I take no enjoyment in being anyone other than myself.
</p>
<p>
    <b>Please, no unsolicited NSFW.</b>
    At least ask first, if it's tangentially relevant to some existing topic.
</p>
<hr />
<h2>Good Stuff</h2>
<h3>General</h3>
<ul>
    <li>Ahegao</li>
    <li>Aphrodisiacs</li>
    <li>Inflatables</li>
    <li>Multiple orgasms</li>
    <li>Natural musk</li>
</ul>
<h3>Character Preference</h3>
<ul>
    <li>Androgyny</li>
    <li>Body hair</li>
    <li>Intelligent Characters</li>
    <li>Knots</li>
    <li>Older characters</li>
    <li>Rubber/elastic characters</li>
    <li>Slime/goo characters</li>
    <li>Tails</li>
    <li>Tentacles</li>
</ul>
<h3>Oral Sex &amp; Play</h3>
<ul>
    <li>Auto-Fellatio</li>
</ul>
<h3>Cum Related</h3>
<ul>
    <li>Bukkake</li>
    <li>Creampie</li>
    <li>Cum Bath</li>
</ul>
<h3>Penetration &amp; Sexual Themes</h3>
<ul>
    <li>3+ Penetration</li>
    <li>Double Penetration</li>
    <li>Gangbangs</li>
    <li>Knotting/Tying</li>
</ul>
<h3>Themes &amp; Settings</h3>
<ul>
    <li>Affection</li>
    <li>Dub-Consensual (and similar themes)</li>
</ul>
<h3>Dress Up &amp; Materials</h3>
<ul>
    <li>Latex/rubber</li>
    <li>Leather</li>
    <li>Underwear Bulges</li>
    <li>Uniforms</li>
</ul>
<h3>Dom/Sub &amp; Psyche Play</h3>
<ul>
    <li>Begging</li>
    <li>Corruption</li>
    <li>Degradation</li>
    <li>Discipline / Reinforcement</li>
    <li>Hypnotism / Mind Control</li>
    <li>Master/pet</li>
    <li>Puppy play</li>
</ul>
<h3>BDSM</h3>
<ul>
    <li>Aftercare</li>
    <li>Leash &amp; Collar</li>
    <li>Light / Medium Bondage</li>
</ul>
<h3>Transformation</h3>
<ul>
    <li>Animal Transformation</li>
    <li>Species Transformation</li>
    <li>Transformation into goo/latex</li>
</ul>
<h3>Pregnancy &amp; Breeding</h3>
<ul>
    <li>Heat/Rut</li>
    <li>Oviposition</li>
</ul>
<h3>Vore &amp; Unbirth</h3>
<ul>
    <li>Absorption</li>
</ul>
<hr />
<h2>Bad Stuff</h2>
<p>
    <b>Absolute "no"s for me:</b>
    Drug/alcohol use, smoking, food, underage, zoophilia, sounding, incest, STDs, weapons, diapers.
</p>
