@page "/art/bases"
<h1>Commissions</h1>
<p>This page contains bases I've coloured!</p>
<div class="masonry">
    <div class="masonry-item">
        <img src="img/art/bases/ramendraws-cat.png" alt="ramendraws" />
        By RamenDraws (
        <a href="https://www.etsy.com/shop/RamenDraws">Etsy</a>
        )
    </div>
    <div class="masonry-item">
        <img src="img/art/bases/4LunaEclipse-cat.png" alt="4LunaEclipse" />
        By 4LunaEclipse (
        <a href="https://www.deviantart.com/4lunaeclipse">DeviantArt</a>
        )
    </div>
</div>
