@page "/bookshelf/{postId}"
@using System.Reflection
@using Wiki.Posh.Wasm.Services
<div class="container">
    <div class="row">
        <div class="col col-auto"></div>
        <div class="col" style="max-width: 120ch;">
            <h1>
            @Title
            </h1>
            <span class="text-secondary">
                By:
                @Author
                | Read:
                @Date<br />
                @string.Join(' ', Tags)
            </span>
            <hr />
            <MudMarkdown Value="@Content" />
        </div>
        <div class="col col-auto"></div>
    </div>
</div>

@code
{
    [Parameter] public string PostId { get; set; } = string.Empty;

    public string Content { get; set; } = string.Empty;

    public string Title { get; set; } = string.Empty;

    public string Author { get; set; } = string.Empty;

    public string Date { get; set; } = string.Empty;

    public string[] Tags { get; set; } = [];

    protected override void OnInitialized()
    {
        Assembly assembly = Assembly.GetExecutingAssembly();
        string[] resourceNames = assembly.GetManifestResourceNames();
        string? resourceName = resourceNames
            .FirstOrDefault(x => x.EndsWith(PostId, StringComparison.InvariantCultureIgnoreCase));

        if (resourceName is null)
        {
            return;
        }

        using var stream = assembly.GetManifestResourceStream(resourceName);
        if (stream is null)
        {
            return;
        }

        using var reader = new StreamReader(stream);
        Content = MarkdownHeaderReader.TrimHeaders(reader.ReadToEnd());

        stream.Position = 0;
        var headers = MarkdownHeaderReader.ReadFromStream(stream);
        Title = headers.GetValueOrDefault("title", "[Title Unknown]");
        Author = headers.GetValueOrDefault("author", "[Author Unknown]");
        Date = headers.GetValueOrDefault("date", "[Date Unknown]");
        Tags = headers.GetValueOrDefault("tags", string.Empty).Split(' ');

        base.OnInitialized();
    }
}
