@inherits LayoutComponentBase
<div class="page container">
    <div class="row mt-2">
        <div class="col col-auto">
            <MudPaper Class="p-1">
                <NavMenu />
            </MudPaper>
        </div>
        <div class="col" style="max-height: 90svh; overflow-y: auto;">
            <MudPaper Class="p-4">
            @Body
            </MudPaper>
        </div>
    </div>
</div>
<MudThemeProvider IsDarkMode="true" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
