<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <MudNavMenu Style="width: 200px;">
        <MudText Typo="Typo.h6" Class="px-4">
            posh.wiki
        </MudText>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">
            I can't really describe it
        </MudText>
        <MudDivider Class="my-2" />
        <MudNavLink Href="/">Home</MudNavLink>
        <MudNavLink Href="/blog">Blog</MudNavLink>
        <MudNavLink Href="/bookshelf">Bookshelf</MudNavLink>
        <MudNavGroup Title="Art" Expanded="false">
            <MudNavLink Href="/art/comms">Commissions</MudNavLink>
        </MudNavGroup>
    </MudNavMenu>
    <hr />
    <Webrings />
    <hr />
    <Socials />
    <hr />
    <Buttons />
    <hr />
    <Blinkies />
</div>

@code
{
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
